<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{ statePendients }}</strong> Tareas pendientes</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li (click)="changeFilter(item)" *ngFor=" let item of filterValid">
      <a [ngClass]="{'selected': item==filterSeleted}" >{{ item }} </a>
    </li>
    <!-- <li>
      <a href="#/active">Activo</a>
    </li>
    <li>
      <a href="#/completed">Completados</a>
    </li> -->
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button (click)="clearCompleted()" class="clear-completed">Limpiar completados</button>
</footer>